/*------------styling-----------------*/

//generic
%body-margin {
    margin-bottom: 100px;
    margin-top: 20px;
}

  /*-------------------------------------------------*/
  // Abstracts Page

  #abstracts-page,
  #abstracts-container {
    .search-container {
      .wfui-filters-item {
        .input-clear {
          margin-top: -5px;
        }
      }
    }
    .container {
      div.row.header-row {
        margin: 0 0 30px 0;

        .header {
          border-bottom: 1px solid $grey-line-color;
        }

        div.search-container {
          > * {
            margin-top: 20px;
            margin-bottom: 10px;
          }

          label.control-label {
            display: none;
          }
        }
      }

      .flex-stretch-row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        @media (max-width: 991px) {
          .filter-container {
            order: 2;
          }
          .search-container {
            order: 1;
          }
        }
      }

      .filter-container {
        margin-bottom: 15px;
      }

      .filter-wrapper {
        > div.full-width {
          color: black;
          font-size: 16px;
          font-weight: 800;

          @media (max-width: 991px) {
            padding: 0;
          }
        }

        .filters {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }

        .filter-label {
          padding: 3px 0;
          margin: 7px 13px 0 0;
        }

        .filter-item {
          display: inline;

          > .btn {
            border-radius: 15.5px;
            border-color: transparent;
            background-color: #ebebeb;
            padding: 3px 15px;
            margin: 7px 13px 0 0;
            font-size: 14px;
            font-weight: normal;
            white-space: normal;
            text-align: left;
          }

          > .btn.active {
            color: #000000;
            background-color: $green-theme-color;
            -webkit-box-shadow: none;
            box-shadow: none;
          }

          &:last-child {
            > .btn {
              margin-right: 0;
            }
          }
        }
      }
    }

    > .container {
      div.abstracts-row {
        .card-container {
          padding-top: 20px;

          .abstract-card-box {
            border: 1px solid #e2e0e0;
            border-radius: 4px;
            background-color: #f5faff;
            width: 100%;
            height: 400px;
            cursor: pointer;
            padding: 25px 35px 35px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;

            @media (min-width: 992px) and (max-width: 1200px) {
              height: 490px;
            }

            @media (min-width: 768px) and (max-width: 991px) {
              height: 430px;
            }

            @media (max-width: 767px) {
              height: unset;
              padding: 10px 15px 20px;
            }

            &:hover,
            &:focus,
            &:visited,
            &:active,
            &.active {
              text-decoration: none;

              .title {
                text-decoration: underline;
              }
            }

            > p.poster-num {
              width: 100%;
              text-align: right;
              margin-bottom: 15px;
              font-weight: 700;
              font-size: 14px;
            }

            > div.box {
              background-color: #ffffff;
              width: 100%;
              height: 293px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding-left: 30px;
              padding-right: 30px;

              @media (min-width: 992px) and (max-width: 1200px) {
                height: 383px;
              }

              @media (min-width: 768px) and (max-width: 991px) {
                height: 323px;
              }

              @media (max-width: 767px) {
                height: unset;
                padding: 15px;
              }

              > img {
                width: 50px;
                height: 50px;
                margin-top: 5px;
                margin-bottom: 20px;
              }

              > p.title {
                color: #000000;
                margin-bottom: 15px;
              }

              > .tag {
                width: 100%;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                > button {
                  padding: 3px 12px;
                  border-radius: 15.5px;
                  border-color: transparent;
                  background-color: #ebebeb;
                  margin: 5px 13px 5px 0;
                  font-size: 14px;
                  font-weight: normal;
                  white-space: normal;
                  text-align: center;

                  > span {
                    font-size: 13px;
                  }

                  &:last-child {
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }


///////////// RESPONSIVE

* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ui group */

.ui-group {
  display: inline-block;
}

.ui-group h3 {
  display: inline-block;
  margin-right: 0.2em;
  font-size: 16px;
}

.ui-group .button-group {
  display: inline-block;
  margin-right: 20px;
}


.blob {
  width: 70px;
  height: 70px;
  margin: 5px;
  float: left;
  background: red;
}

/* color-shape */

.color-shape {
  width: 70px;
  height: 70px;
  margin: 5px;
  float: left;
}
 
.color-shape.round {
  border-radius: 35px;
}
 
.color-shape.big.round {
  border-radius: 75px;
}
 
.color-shape.red { background: red; }
.color-shape.blue { background: blue; }
.color-shape.yellow { background: yellow; }
 
.color-shape.wide, .color-shape.big { width: 150px; }
.color-shape.tall, .color-shape.big { height: 150px; }


///////////// RESPONSIVE










.title-style {
    margin-top: 20px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #B0E0E6;
    padding: 40px 20px 10px 20px;
}


//homepage
#home-page {
    @extend %body-margin;

    .banner {
        margin: 30px 0 20px 0;
    }
}

//cat breeds page
#cat-page {
    @extend %body-margin;

    .img-collage {
        margin: 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        .img-style {
            padding: 10px;
            margin: 10px;
            background-color: #DCDCDC;

            object-fit: cover;

        }
    }
}

//cat details page
#details-page {
    @extend %body-margin;

    .subtitle-style {
        margin: 30px 0 20px 40px;
        font-size: 30px;
        border-bottom: black;
    }

    .description-style {
        margin: 20px 0;
        font-size: 15px;

        //only for md < size
        @media (min-width: 992px) {
            margin: 20px 0;

            p {
                margin: 20px 0;
                font-size: 16px;
            }

        }
    }

    .border-container {
        padding: 50px 20px;
        background-color: #D3D3D3;
        margin: 0 20px;
    }

    .img-style {
        @media (min-width: 992px) {
            border: 1px solid #696969;
        }
    }



}

#about-page {
    @extend %body-margin;

    .about-description {
        margin: 40px 20px;
        display: flex;
        flex-wrap: wrap;
        line-height: 35px;

        p {
            margin: 15px 0;
        }

        .last-style {
            margin: 25px 0;
            color: #F08080;
        }
    }


}